.overview-wrapper {
  width: 100%;
  height: 400px;
  background-image: url("https://zinpro.vn/style/img/slider-1-2.png");
  background-size: cover;
  color: white;
  padding-top: 163px;
  padding-bottom: 118px;
}

.overview1-wrapper {
  padding: 30px;
  text-align: center;
}
.overview1-title {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.overview-title {
  font-size: 50px;
  font-family: "Nunito", sans-serif;
}
.overview1-content {
  text-align: justify !important;
}

.overview1-item {
  padding: 20px;
}

.overview1-btn {
  font-size: 16px;
  color: #d71700;
  font-weight: 500;
}
.overview1-btn:hover {
  cursor: pointer;
  border-bottom: 1px solid #d71700;
}

.overview2-wrapper {
  background-color: #eae9e9;
  padding: 35px;
}
.overview2-title {
  font-size: 40px;
  font-family: "Nunito", sans-serif;
}
.overview2-item {
  padding: 25px;
  background-color: white;
  border-radius: 6px;
  transition: all 300ms;
}

.overview2-item:hover {
  box-shadow: 0px 0px 65px 0px rgb(0 0 0 / 6%);
  cursor: pointer;
}
.overview2-item:hover .head-title {
  color: #d71700 !important;
}

.head-title {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
}

.overview3-wrapper {
  background-color: white;
  padding: 35px;
}

.overview3-wrapper .item-title {
  font-size: 19px;
  font-family: "Nunito", sans-serif;
}

.overview4-wrapper {
  background-image: white;
  margin-top: 50px;
  padding: 35px;
}

.overview4-wrapper ul li {
  line-height: 2;
  font-size: 18px;
}
